.About{
    padding: 4rem 2rem;
    background-color: rgb(241, 231, 231);
    text-align: center;
}
.slogan h1{
 font-size: 2.5rem;
 margin-bottom: 1rem;
 margin: 20px auto;
 color : black;
}
.slogan p{
    font-size: 1.2rem;
    margin: 2rem auto;
    margin-bottom: 1rem;
    color: black;
}

.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
}
.grid{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    flex-wrap: wrap;
    place-items: center;
}
.card{
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    flex: 1 1 100px;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.card img{
    max-width: 60px;
}
.card h3{
    font-size: 1rem;
    margin: 0;
    color: cadetblue;
}

.news h1{
    color: rgb(54, 29, 136);
    font-size: 1.4rem;
    text-decoration: underline;
}
